<div class="container mt-5">
  <form method="post" action="/users/signup">
    <h2 class="col-md-4 mr-auto ml-auto mb-3">Sign up</h2>
    {{#if errors}}
      {{#each errors}}
        <div class="col-md-4 ml-auto mr-auto alert alert-danger">
          {{msg}}
        </div>
      {{/each}}
    {{/if}}
    {{#if error_msg}}
      <div class="col-md-4 ml-auto mr-auto alert alert-danger">{{error_msg}}</div>
    {{/if}}
    <div class="form-group d-flex flex-column align-items-center">
      <label class="col-md-4 control-label" for="textinput">Full name</label>
      <div class="col-md-4">
        <input id="textinput" name="name" type="text" placeholder="John Doe" class="form-control input-md">
      </div>
    </div>
    <div class="form-group d-flex flex-column align-items-center">
      <label class="col-md-4 control-label" for="selectbasic">Enter City, State</label>
      <div class="col-md-4">
        <input id="city" type="text" name="typeahead" class="typeahead tt-query" autocomplete="on" spellcheck="false" placeholder="Type your Query">
      </div>
    </div>
    <div class="form-group d-flex flex-column align-items-center">
      <label class="col-md-4 control-label" for="email">E-mail</label>
      <div class="col-md-4">
        <input id="email" name="email" type="text" placeholder="john.smith@mail.com" class="form-control input-md">
      </div>
    </div>
    <div class="form-group d-flex flex-column align-items-center">
      <label class="col-md-4 control-label" for="username">Username</label>
      <div class="col-md-4">
        <input id="username" name="username" type="text" class="form-control input-md">
      </div>
    </div>
    <div class="form-group d-flex flex-column align-items-center">
      <label class="col-md-4 control-label" for="passwordinput">Password</label>
      <div class="col-md-4">
        <input id="passwordinput" name="password" type="password" placeholder="Enter your password" class="form-control input-md">
      </div>
    </div>
    <div class="form-group d-flex flex-column align-items-center">
      <label class="col-md-4 control-label" for="passwordinput">Confirm password </label>
      <div class="col-md-4">
        <input id="passwordinput" name="password2" type="password" placeholder="Confirm password" class="form-control input-md">
      </div>
    </div>
    <div class="form-group d-flex flex-column align-items-center">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button type="submit" id="singlebutton"  class="btn btn-primary">Register</button>
      </div>
    </div>
  </form>
</div>